@model IEnumerable<UpsellManagementSystem.Models.Products_174866_MiniProj>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset style="padding:20px">
    @if (Session["Email"] != null)
    {
        <text>
            <h2>Welcome @Session["Email"].ToString(),</h2>
        </text>
    }
</fieldset>

<h3>User HomePage</h3>
@using (Html.BeginForm())
{
<div style="display:flex;align-items:center;align-content:center;margin-bottom:50px">
    <!-- Search With Model Name -->
    @Html.AntiForgeryToken()
    <input class="form-control" type="text" name="ModelName" placeholder="Search With Model Name(Eg: Philips)" aria-label="Search">
    <div>
        <select class="form-control" id="sel1">
            <option>Havells</option>
            <option>Philips</option>
        </select>
    </div>
    <input style="margin-left:20px" type="submit" value="Submit" class="btn" />
</div>
}
<h2>Products List : </h2>
<div class="grid">
    @foreach (var product in Model)
    {
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">
                    @Html.DisplayFor(modelItem => product.ModelName)
                </h1>
            </header>
            <div class="card__image">
                <img src="@Html.DisplayFor(modelItem => product.imageUrl)" alt="@Html.DisplayFor(modelItem => product.ModelName)">
            </div>
            <div class="card__content">
                <h2 class="product__price">
                    $
                    @Html.DisplayFor(modelItem => product.UnitCost)
                </h2>
                <p class="product__description">
                    @Html.DisplayFor(modelItem => product.Description)
                </p>
            </div>
            <div class="card__actions">
                @Html.ActionLink("Add to Cart", "ProductDetail", "ProductDetails", new { submitProduct = product.ModelName }, new { @class= "btn" })
            </div>
        </article>
    }
</div>



