<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/public/css/HomePage.css" rel="stylesheet" />
    <link href="~/public/css/Layout/Header.css" rel="stylesheet" />
</head>
<body>
    <!--Header-->
    <header class="main-header">
        <nav class="main-header__nav navbar navbar-expand-lg">
            <ul class="navbar-nav">
                <li class="main-header__item">
                    <div class="nav-item">
                        <a href="/" class="nav-link">HiFi Shopee Admininstrator</a>
                    </div>
                </li>
                <li class="main-header__item">
                    <div class="nav-item">
                        <a href="AddCategory" class="nav-link">Add Category</a>
                    </div>
                </li>
                <li class="main-header__item">
                    <div class="nav-item">
                        <a href="DisplayCategories" class="nav-link">Display Categories</a>
                    </div>
                </li>
                <li class="main-header__item">
                    <div class="nav-item">
                        <a href="AddProduct" class="nav-link">Add Product</a>
                    </div>
                </li>
                <li class="main-header__item">
                    <div class="nav-item">
                        <a href="DisplayProducts" class="nav-link">Display Products</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <!--Body-->
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <!--Footer-->
    <footer class="card-footer" style="background-color:#00695c">
        <p style="color:aliceblue">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
